<ion-header>
  <ion-toolbar>
    <ion-title>unidades-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
      <ion-list>
       <ion-item>
          <ion-label>Nome da Unidade Educacional</ion-label>
          <ion-input formControlName="nomeuni" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Endereco</ion-label>
          <ion-input formControlName="endereco" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>CNPJ</ion-label>
          <ion-input formControlName="cnpj" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Telefone 1</ion-label>
          <ion-input formControlName="telefone1" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Telefone 2</ion-label>
          <ion-input formControlName="telefone2" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
    </form>
  </ion-content>
